.serif {
    font-family: 'Times New Roman', Times, serif;

}
.nserf{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mono{
font-family: monospace;
}
.fs {
    font-style: italic;
}
.fw{
    font-weight: 800;
    font-variant: small-caps;
    font-size: 30px;
}